.App {
  text-align: center;
}
.navbar{
  text-align: right;
}
/* .navbar .active{
  color: skyblue;
 
} */
.navbar li{
  display: inline-block;
  padding: 10px 5px;
  text-align: right;
}
.navbar-link{
  color: black;
  text-decoration: none;
}
.navbar-link:hover{
  color: green;
}
